extends ../modules/head
block title
	| Nёrds - главная
block main
	include ../modules/header
	main.page
		h1.visually-hidden Содание сайтов под ключ
		section.offers
			.offers__list
				.offers__items
					img.offers__img(src=require('../../assets/images/illustration-1-jpg.jpg'), width="300" height="146"
					alt="offers-img__website")
					h3.offers__title Веб-сайты
					p.offers__description Мир никогда не будет прежним после того как увидит ваш сайт!
					a.offers__button--red(class='button' href='#') заказать
				.offers__items
					img.offers__img(src=require('../../assets/images/illustration-2-jpg.jpg'), width="300" height="146"
					alt="offers-img__website")
					h3.offers__title Приложения
					p.offers__description Покорите топ-10 приложений в AppStore и Google Play
					a.offers__button--green(class='button' href='#') заказать
				.offers__items
					img.offers__img(src=require('../../assets/images/illustration-3-jpg.jpg'), width="300" height="146"
					alt="offers-img__website")
					h3.offers__title Презентации
					p.offers__description Вы даже не подозреваете, насколько вы изумительны!
					a.offers__button--yellow(class='button'  href='#') заказать
		hr.offers__line
		section.about
			.about__wrapper
				.about-wrapper__about
					h2.about__title Мы — маленькая, но гордая дизайн-студия из Краснодара.
					p.about__description Исповедуем принципы минимализма и чистоты. Ставим математический расчет превыше креатива. Работаем не покладая рук, как роботы.
					b.about__list-title Выполняем заказы на разработку:
					ul.about__list
						li.about__item Веб-сайтов любой сложности
						li.about__item Мобильных приложений для iOS и Android
						li.about__item Слайдшоу и видео для корпоративных презентаций
				.container
					img.about__logo(src=require('../../assets/images/nerds-illustration-jpg.jpg'), width="360" height="140" alt="ilustrtion__logo")
					b.about__title--right с 2004 года Любим точность во всем:
					ul.about__list--right
						li.about__item--right Уровень самоотдачи
						li.about__item--right Соблюдение сроков
						li.about__item--right Минимальная предоплата
		hr.about__line


	include ../modules/footer



